body {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/triangles-1430105_1280.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(255,255,255);
  font-family: Roboto, sans-serif;
}

.row.content-area {
  margin-top: 50px;
}

#result-area {
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

